body {
  color: #566b78;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 37em;
  padding: 4em 1em;
}

div,
span {
  color: #e81c4f;
  cursor: pointer;
  text-decoration: underline;
}
